<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - Demo Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{#each styles}}
      <link rel="stylesheet" type="text/css" href="/stylesheets/{{this}}.css">
    {{/each}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    {{#each scripts}}
      <script src="/javascripts/{{this}}.js"></script>
    {{/each}}
  </head>
  <body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        Demo Client
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{#if user}}
          <li class="nav-item {{#if (isequal title "Home")}}active{{/if}}">
            <a class="nav-link" href="/">Home{{#if (isequal title "Home")}}<span class="sr-only">(current){{/if}}</span></a>
          </li>
          {{else}}
          <li class="nav-item {{#if (isequal title "Login")}}active{{/if}}">
            <a class="nav-link" href="/">Login{{#if (isequal title "Login")}}<span class="sr-only">(current){{/if}}</span></a>
          </li>
          {{/if}}
          <li class="nav-item {{#if (isequal title "About")}}active{{/if}}">
            <a class="nav-link" href="/about">About{{#if (isequal title "About")}}<span class="sr-only">(current){{/if}}</a>
          </li>
          <li class="nav-item {{#if (isequal title "User Select")}}active{{/if}}">
            <a class="nav-link" href="/demo/select">Demo User Selection{{#if (isequal title "User Select")}}<span class="sr-only">(current){{/if}}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
