<table>
  <tr>
    <td>
      <h3>You've been invited to setup your Organization: {{invite.org}}, at <a href="https://files.hanessassociates.com">https://files.hanessassociates.com</a></h3>
      <h4>Hi {{invite.email}},</h4>
      </br>
      <p class="lead">Please complete registration for your new account at <a href="https://files.hanessassociates.com">https://files.hanessassociates.com</a></p>
      <p class="callout">
        To register, please follow the link below. (If it doesn't work, copy and paste the link into your browser's URL bar)
        </br>
        <a href="{{token}}">{{token}}</a>
      </p>
      <p>Link broken? Please ask {{invite.sender}} to resend the invitation.</p>
      <p>Already did that? Please contact <a href="mailto:support@hanessassociates.com?subject=[SFS] Organizaton Invitation&body=Hi Support, I am having trouble setting up my Organization for the Haness %26 Associates%2C LLC Secure File System.">support@hanessassociates.com</a></p>
    </td>
  </tr>
</table>