<div class="row px-2 py-4 p-md-5">
  <div class="col-12 px-2 py-4 p-md-5 bg-light rounded shadow">
    <h3>Register Your Account</h3>
    {{#each messages}}
    <div class="alert alert-danger" role="alert">
      {{this}}
    </div>
    {{/each}}
    {{#each errors}}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
    {{/each}}
    <form action="/register" method="POST">
      {{#if invite}}
      <input name="invite" type="hidden" id="invite" value="true">
      {{/if}}
      <div class="form-group">
        <label for="fname">First Name</label>
        <input name="fname" type="text" class="form-control" id="fname" placeholder="First name" {{#if fname}}value="{{fname}}"{{/if}} required>
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input name="lname" type="text" class="form-control" id="lname" placeholder="Last name" {{#if lname}}value="{{lname}}"{{/if}} required>
      </div>
      {{#if org}}
      <div class="form-group">
        <label for="org">Organization</label>
        <input name="org" type="text" class="form-control" id="org" value="{{org}}" readonly>
      </div>
      {{/if}}
      <div class="form-group">
        <label for="regcode">Registration Code</label>
        <input name="regcode" {{#if org}}type="password"{{else}}type="text"{{/if}} class="form-control" id="regcode" placeholder="Registration code" {{#if regcode}}value="{{regcode}}"{{/if}} required{{#if org}} readonly{{/if}}>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" {{#if email}}value="{{email}}"{{/if}} required{{#if invite}} readonly{{/if}}>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
        <small id="passwordReqs" class="form-text text-muted">Your password must be between 14 and 32 characters long and contain at least 1 of each of the following: uppercase letters, lowercase letters, numbers, and symbols.</small>
      </div>
    <div class="form-group">
        <label for="passconf">Confirm Password</label>
        <input name="passconf" type="password" class="form-control" id="passconf" placeholder="Confirm Password" required>
      </div>
      <div class="form-group form-check">
        <input name="policycheck" type="checkbox" class="form-check-input" id="policycheck" required>
        <label class="form-check-label" for="public-check">I have read and agree to our <a href="/">Terms and Conditions</a> and <a href="/">Privacy Policy</a></label>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <small class="form-text text-muted"> Already Registered? <a href="/login">Login Now</a></small>
  </div>
</div>
