<nav aria-label="breadcrumb bg-primary">
  <ol class="breadcrumb mb-0" currentPath="{{currentPath}}">
    <li class="breadcrumb-item {{#unless org}}active{{/unless}}">Organizations</li>
    {{#if org}}<li class="breadcrumb-item {{#unless year}}active{{/unless}}">{{org}}</li>{{/if}}
    {{#if year}}<li class="breadcrumb-item {{#unless plan}}active{{/unless}}">{{year}}</li>{{/if}}
    {{#if plan}}<li class="breadcrumb-item active">{{plan}}</li>{{/if}}
  </ol>
</nav>
<table class="table table-hover">
  <thead class="table-dark">
    <tr class="bg-primary">
      <th scope="col">Filename</th>
      <th scope="col">Size</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
    {{#if back}}
    <tr onclick="requestFiles(this)" prefix="{{this.back}}">
      <th scope="row">..Back</th>
    </tr>
    {{/if}}
    {{#each files}}
    {{#if this.Size}}
    <tr>
      <th scope="row">{{this.displayName}}</th>
      <td scope="row"><small class="text-muted">{{this.Size}} Bytes</small></td>
      <td scope="row"><small class="text-muted">{{this.LastModified}}</small></td>
      <td scope="row"><form action="/files/dl/{{this.Key}}" method="GET"><button type="submit" class="btn btn-primary">Download</button></form></td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>
<form id="uploadForm">
  <div class="input-group my-3">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-primary"
        onclick="document.getElementById('fileInput').click()">Browse</button>
    </div>
    <label class="px-2 form-control" id="fileInputLabel" for="fileInput">Select file(s) to upload</label>
    <input type="file" style="display:none;" id="fileInput" multiple required>
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </div>
</form>