<h4>Manage Users</h4>
<button class="btn btn-primary" onclick="requestUsers()">Refresh</button>
<table class="table table-hover">
  <thead class="table-dark">
    <tr class="bg-primary">
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Registration Date</th>
      <th scope="col">Status</th>
      <th scope="col">Enable/Disable</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td scope="row">{{this.email}}</td>
      <td scope="row">{{this.name}}</td>
      <td scope="row"><small class="text-muted">{{this.regdate}}</small></td>
      <td scope="row">{{this.statusText}}</td>
      {{#if (isequal this.status 0)}}<td scope="row"><button class="btn btn-success" onclick="changeUserStatus(this)" status="1" user="{{this.id}}">Enable</button></td>{{/if}}
      {{#if (isequal this.status 1)}}<td scope="row"><button class="btn btn-warning" onclick="changeUserStatus(this)" status="0" user="{{this.id}}">Disable</button></td>{{/if}}
      {{#if (isequal this.status 2)}}<td scope="row"><button class="btn btn-primary" onclick="resendUserInvite(this)" user="{{this.id}}">Resend</button></td>{{/if}}
      <td scope="row"><button class="btn btn-danger">Delete User</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>